body {
    background-image: linear-gradient(100deg, red, orange, yellow, green, blue, indigo, violet);
    background-repeat: no-repeat;
    background-size: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 50px;
}

h1 {
    text-align: center;
    font-weight: 800;
    color: white;
    font-size: 72px;
}

.main {
    /* border: 2px solid gray; */
    margin: 0 auto;
    width: 320px;
    padding: 20px;
    border-radius: 10px;
    background-color: antiquewhite;
    box-shadow: 4px 5px 4px rgb(80, 77, 77);
    margin-top: 30px;
}

.result {
    width: 97%;
    font-size: 20px;
    margin-top: 5px;
    font-weight: 800;
    border-radius: 10px;
}

.clear {
    width: 100%;
    font-size: 20px;
    color: wheat;
    font-weight: 800;
    background-image: linear-gradient(to right, rgb(196, 142, 142), rgb(181, 139, 178));
    margin-top: 10px;
    border-radius: 10px;
}

.clear:hover {
    background-image: linear-gradient(to right, rgb(231, 11, 11), rgb(229, 29, 216));
    transform: scale(0.9);
    transition: 0.5s ease-out;
}

.getNumber {
    width: 32.5%;
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin-top: 10px;
    background-image: linear-gradient(to right, rgb(196, 142, 142), rgb(181, 139, 178));
    border-radius: 10px;
}

.getNumber:hover {
    background-image: linear-gradient(to right, rgb(231, 11, 11), rgb(229, 29, 216));
    transform: scale(0.9);
    transition: 0.5s ease-out;
}

.getNumbers {
    width: 24%;
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin-top: 10px;
    background-image: linear-gradient(to right, rgb(196, 142, 142), rgb(181, 139, 178));
    border-radius: 10px;
}

.getNumbers:hover {
    background-image: linear-gradient(to right, rgb(231, 11, 11), rgb(229, 29, 216));
    transform: scale(0.9);
    transition: 0.5s ease-out;
}

.results {
    width: 100%;
    background-image: linear-gradient(to right, rgb(196, 142, 142), rgb(181, 139, 178));
    font-size: 22px;
    font-weight: 800;
    color: white;
    margin-top: 10px;
    border-radius: 10px;
}

.results:hover {
    background-image: linear-gradient(to right, rgb(231, 11, 11), rgb(229, 29, 216));
    transform: scale(0.9);
    transition: 0.5s ease-out;
}
